<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Climate App</title>
</head>
    <body>
        <h1>Welcome to the Climate App API!</h1>
        <h3>Available routes:</h3>
        <ul>
            <p><a href="/api/v1.0/precipitation"><li>/api/v1.0/precipitation</li></a></p>
            <p><a href="/api/v1.0/stations"><li>/api/v1.0/stations</li></a></p>
            <p><a href="/api/v1.0/tobs"><li>/api/v1.0/tobs</li></a></p>
            <p><a href="/api/v1.0/2010-01-01"><li>/api/v1.0/&lt;start&gt;</li></a></p>
            <p><a href="/api/v1.0/2010-01-01/2017-08-23"><li>/api/v1.0/&lt;start&gt;/&lt;end&gt;</li></a></p>
        </ul>
    </body>
</html>
